.one, .two, .three{
    background-color: rgb(218, 146, 146);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}
#car{
    color:rgb(104, 104, 212);
    font-size: 36px;
}
.two{
    font-size: 24px;
}
#car1{
    background-color: rgb(102, 146, 102);
    font-size: 24px;
    font-weight: bold;
}